body {
	background: #f9f9f9;
	font-family: 'Lato', sans-serif;
}
h1 {
	font-size: 70px;
	color: #e67700; 
}
h2 {
	font-size: 50px;
	color: #e67700; 
}

/* NAVBAR */

nav {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	height: 60px;
	background-color: red;
}

.navbar-brand {
	font-family: 'Roboto Slab', serif;
	font-size: 32px;
	font-weight: 700;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
	background: #333333;
	color: white;
}

img {
	height: 200px;
	width: 200px;
}

/* PROJECTS */
#card-deck-projects {
	margin-left: 18px;
	margin-right: 18px;
}

#card-deck-work {
	margin-left: 40px;
	margin-right: 40px;
}

.school_and_major {
	font-size: 18px;
}

#courses-table {
	max-width: 650px;
}