<!DOCTYPE html>
<html>
<head>
	<title>Daniel Fritsch</title>
</head>
	<body>
		<p><a name="linktotop"></a></p>
		<div>
			<a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('projects') }}">Projects</a>
			<a href="{{ url_for('work') }}">Work Experience</a>
			<a href="{{ url_for('education') }}">Education</a>
			<a href="Daniel_Fritsch_Resume.pdf" target="_blank">Resume</a>
			<a href="{{ url_for('contact') }}">Contact</a>
		</div>
		<hr>

		<div align="center">
			<br>
			<h1><font size="12">Hi I'm Daniel!</font></h1>	
			<br>
			<p>
				<font size="4">
				I am a first year student at the University of California, San Diego. I am pursuing a Bachelor's Degree in Computer Science, and a minor in Economics.<br><br>I have previously interned as a Software Engineer at Pyze in Summer 2016, and will be an instructor for iD Tech at Stanford University in Summer 2018.
				</font>
			</p>
		
			
			<h1>Work Experience</h1>
			<table border="1">
				<thead>
					<tr>
						<th>Pyze Inc. Software Engineering Intern | Summer 2016</th>
						<th>iD Tech Instructor | Summer 2018</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<!-- Pyze -->
						<td>
							<ul>
								<li>
									<strong>Pyze: </strong>Small startup that uses AI technologies to help automate growth for businesses at any stage in their development.
								</li>
								<br>
								<li>
									<strong>Automated Growth Team: </strong>Created a Python script that automatically gathers potential client/company emails and sends an introductory email about the services Pyze has to offer.
								</li>
								<br>
								<li>
									<strong>Marketing: </strong> Led some marketing operations for Pyze. Improved Twitter profile, connected with clients over email, and created/updated blog posts with new and relevant product info.
								</li>
							</ul>
						</td>
						<!-- iD Tech -->
						<td>
							<ul>
								<li>I will be teaching multiple classes with topics varying from Coding Apps in Java and C++ to Artificial Intelligence and Machine Learning courses.</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>

			<br><br>

			<h1>Projects</h1>

			<br><br>

			<h1>Education</h1>
				<div>
					<em>University of California, San Diego <br>
					B.S. Computer Science <br>
					Graduation Date: June 2021</em>
				</div>	
				<br>
				<table border="1">
					<thead>
						<tr><th><strong>Courses</strong></th></tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<ul>
									<li><strong>CSE 11: </strong>Introduction to Computer Science and Object-Oriented Programming: Java</li>
									<li><strong>CSE 12: </strong>Basic Data Structures and Object-Oriented Design</li>
									<li><strong>CSE 15L: </strong>Software Tools and Techniques Laboratory</li>
									<li><strong>CSE 20: </strong>Discrete Mathematics</li>
									<li><strong>CSE 21: </strong>Mathematics for Algorithms and Systems</li>
									<li><strong>CSE 30: </strong>Computer Organization and Systems Programming</li>
								</ul>
							</td>
						</tr>
				</tbody>
			</table>

			<br><br>

			<h1>Contact</h1>
			<br>

			<p><a href="#linktotop">Return to top</a></p>
		</div>
	</body>
</html>
