<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- My styles -->
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">

		<!-- Social media icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100i,300i,400,700,900" rel="stylesheet">

		<title>Daniel Fritsch</title>
		<link rel="icon" href="https://www.freeiconspng.com/uploads/letter-d-icon-png-33.png">
</head>
	<body>
		
<!-- 		<nav class="navbar sticky-top navbar-custom navbar-inverse">
			<img id="icon" src="https://image.ibb.co/mrxowx/152436121459576654.png">
 			<div id="bar">|</div>
 			<a class="navlink" href="#linktotop">home</a>
			<a class="navlink" href="#linktowork">work experience</a>
			<a class="navlink" href="#linktoprojects">projects</a>
			<a class="navlink" href="#linktoeducation">education</a>
			<a class="navlink" href="daniel_fritsch_resume.pdf" target="_blank">resume</a>
			<a class="navlink" href="#linktocontact">contact</a>
		
		</nav>	 -->

		<ul class="navigation navbar sticky-top navbar-custom navbar-inverse">
		  <li><a class="navlink" href="#linktotop">Home</a></li>
		  <li><a class="navlink" href="#linktowork">Work Experience</a></li>
		  <li><a class="navlink" href="#linktoprojects">Projects</a></li>
		  <li><a class="navlink" href="#linktoeducation">Education</a></li>
		  <li><a class="navlink" href="Daniel_Fritsch_Resume.pdf" target="_blank">Resume</a></li>
		  <li><a class="navlink" href="#linktocontact">Contact</a></li>
		</ul>



		<p><a name="linktotop"></a></p>

		<br>
		<div align="center">
			<img src="https://image.ibb.co/jv62Nz/IMG_0736.jpg" id="face">
			<!-- INTRO -->
			<br><br>
			<div width="100%" id="hello">Hi, I'm Daniel!</div>	
			<br>
			<div class="container" id="intro">
					I am a second year student at the University of California, San Diego. I am pursuing a Bachelor's degree in Computer Science, and a minor in Economics. I am currently interning at Occuspace (Waitz), a startup that originated at UCSD, as a Software Engineering Intern. I have interned as a Software Engineer at a company named Pyze during summer 2016, and I also have experience working as an instructor at iD Tech at Stanford University, where I taught introductory computer science courses to high school students.
					<br>
					<br>
					I am passionate about applying my skills to create practical solutions in the real world. I believe that every moment in our lives is an opportunity for us to consciously better ourselves and others, in the best way we see fit.
			</div>
			<br>
			<hr>
			<br>
		
			<!-- WORK EXPERIENCE -->
			<h2><a name="linktowork"></a>Work Experience</h2>
				<br>
<!-- 
			<div class="card waitz" id="card-deck-work">
				    <img class="card-img-top center waitz-img" src="https://image.ibb.co/hvsWFK/name_logo_close_border.png" alt="Card image cap">
				    <div class="card-body">
				      <h4 class="card-title">Software Engineering Intern</h4>
				      <p class="card-text">Designed and implemented a <strong>Python API</strong> that streamlined flexible data extraction from <strong>Amazon S3</strong>. Built tools that allowed other developers to more clearly analyze the data in S3. Led front-end development on a reporting system product in which I used <strong>MailChimp API</strong> to send clients periodic report emails containing the <strong>HTML/CSS</strong> templates I created. I also implemented a script that filled a <strong>MySQL</strong> database with real-time mock data. This served to enable back-end development even while Occuspace data capture devices were offline. In addition, I created another <strong>Python API</strong> that eased the process of retrieving and writing data to/from AWS services such as <strong>Dynamo Database</strong> and <strong>S3</strong>.<br><br></p>
				    </div>
				    <div class="card-footer">
				      <small class="text-muted">May 2018 - Present</small>
				    </div>
			</div> -->

			<div class="card-deck" id="card-deck-work">
				  <div class="work-card">
				  	<img class="waitz-img" src="https://image.ibb.co/hvsWFK/name_logo_close_border.png" alt="Card image cap">
				    <div class="card-body">
				      <h4 class="card-title">Software Engineering Intern <br> <small class="text-muted card-date">(May 2018 - Present)</small></h4>
				      <p class="card-text">Designed and implemented a <strong>Python API</strong> that streamlined flexible data extraction from <strong>Amazon S3</strong>. Built tools that allowed other developers to more clearly analyze the data in S3. <br><br>Led front-end development on a reporting system product in which I used <strong>MailChimp API</strong> to send clients periodic report emails containing the <strong>HTML/CSS</strong> templates I created. <br><br>I also implemented a script that filled a <strong>MySQL</strong> database with real-time mock data. This served to enable back-end development even while Occuspace (Waitz) data capture devices were offline. In addition, I created another <strong>Python API</strong> that eased the process of retrieving and writing data to/from AWS services such as <strong>Dynamo Database</strong> and <strong>S3</strong>.<br><br></p>
				    </div>

				  </div>
				  <div class="work-card">
				    <img id="pyze-img" src="https://pyze.com/wp-content/uploads/2017/11/pyze-horizontal-color-RGB.png" alt="Card image cap">
				    <div class="card-body">
				      <h4 class="card-title">Software Engineering Intern <br> <small class="text-muted card-date">(Jun 2016 - Aug 2016)</small></h4>
				      <p class="card-text">
				      	<strong>Pyze</strong> is a small startup that uses AI technologies to help automate growth for businesses at any stage in their development. I was part of the <strong>automated growth team</strong>, where I developed a <strong>Python</strong> script that automatically gathers potential client/company emails and sends an introductory email about the services Pyze has to offer. I also had a leading role in the <strong>marketing team</strong>, where I led some marketing operations such as improving the Twitter profile, connecting with clients over email, and created/updated blog posts with new and relevant product information.
				      	<br><br>
				      	Working at Pyze gave me insights into the many interesting operations that startups consist of on a daily basis. It furthered my understanding of the tech industry, and stimulated my interest and passion in entrepreneurship.
				      </p>
				    </div>
				  </div>
				  <div class="work-card" id="card-work-right">
				    <img class="card-img-top center" id="idtech-img" src="https://momstart.com/wp-content/uploads/2018/03/iD-Tech-Company-Logo-Tagline.png" alt="Card image cap">
				    <div class="card-body">
				      <h4 class="card-title">Course Instructor <br> <small class="text-muted card-date">(Jun 2018 - Aug 2018)</small></h4>
				      <p class="card-text"><p class="card-text">Taught week-long computer science courses to high school students at Stanford University. Course topics included: <strong>Python, C++, Java, Assembly, graphics, game development, and number systems</strong>. <br><br>The experiences I gained as an instructor helped me gain a deeper understanding of the essential factors that come into play when information needs to be conveyed clearly and in a thoughtful manner to students.</p>
				    </div>
				  </div>
			</div>

			<br>
			<hr>
			<br>

 			<!-- PROJECTS -->
			<h2><a name="linktoprojects"></a>Projects</h2>
				<br>

			<div class="card-deck" id="card-deck-projects">
			  <div class="project-card">
			    <img class="card-img-top" src="https://udemy-images.udemy.com/course/750x422/950390_270f_3.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Machine Learning A-Z: Hands-On Python In Data Science <br> <small class="text-muted card-date">(Jan 2018 - Mar 2018)</small></h5>
			      <p class="card-text">Udemy.com course that focuses on creating Machine
							Learning algorithms and models using Python. Data processing, regressions, classification, clustering, reinforcement
							learning, natural language processing, and deep learning. I developed a neural network that correctly differentiated between images of cats versus dogs with over 80 percent accuracy.

							<br><br>

							Languages and Frameworks: <strong>Python</strong>
						</p>
			    </div>
			  </div>
			  <div class="project-card">
			    <img class="card-img-top" src="https://udemy-images.udemy.com/course/750x422/625204_436a_2.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Web Developer Bootcamp <br> <small class="text-muted card-date">(Apr 2018 - May 2018)</small></h5>
			      <p class="card-text">Online course for HTML, CSS, and JavaScript. I used this course as an introduction to web develpoment so that I have the necessary knowledge to develop this website and other cool front end projects.

			      <br><br><br><br><br><br><br>
			      
			      Languages and Frameworks: <strong>HTML, CSS, JavaScript, Python, Flask</strong>
			    </p>
			    </div>
			  </div>

			  <div class="project-card">
			    <!-- <img class="card-img-top" id="doodle-img" src="https://preview.ibb.co/mg4Wbn/doodlejump2.png" alt="Card image cap"> -->
			    <!-- <img class="card-img-top" id="doodle-img" src="https://preview.ibb.co/fTPabx/Screen_Shot_2018_04_21_at_1_44_33_PM.png" alt="Card image cap"> -->
			    <img class="card-img-top" id="doodle-img" src="https://image.ibb.co/iVVRic/Screen_Shot_2018_04_21_at_1_50_02_PM.png" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Doodle Jump <br> <small class="text-muted card-date">(Jun 2017)</small></h5>
			      <p class="card-text">
			      	Doodle Jump is a Java GUI game that I created as a project in high school. The objective of the game is to get as high as possible by bouncing on the orange platforms, and avoiding the black square monsters.

			      	<br><br><br>

			      	Languages and Frameworks: <strong>Java, Java GUI</strong>
			      </p>
			    </div>
			  </div>
			</div>	

			<br>
			<hr>
			<br>

			<!-- EDUCATION -->
			<h2><a name="linktoeducation"></a>Education</h2>
				<br>
				<div>
					<img id="ucsd-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/University_of_California%2C_San_Diego_seal.svg/316px-University_of_California%2C_San_Diego_seal.svg.png">
					<br><br>
					<em class="school_and_major">University of California, San Diego <br>
					B.S. Computer Science <br>
					Graduation Date: June 2021</em>
				</div>	
				<br>
					<div class="container">
						<div id="coursework">Relevant Coursework</div>
						<ul class="courses">
							<li><strong>CSE 11: </strong>Introduction to Computer Science and Object-Oriented Programming: Java 
								<ul>
									<li>Topics: 10 projects involving GUI, object oriented programming and design, multi-threading, event
										listeners, user input and error handling, recursion, inheritance, abstract classes, and interfaces.</li>
								</ul>
							</li>
							<li><strong>CSE 12: </strong>Basic Data Structures and Object-Oriented Design
								<ul>
									<li>Topics: JUnit testing, pagination, linked lists, doubly-linked lists, stacks, queues, binary trees, binary search trees, hash maps and tables, min/max heaps, sorting, and analyzing runtime.</li>
								</ul>
							</li>
							<li><strong>CSE 15L: </strong>Software Tools and Techniques Laboratory
								<ul>
									<li>Topics: Unix, vim, debugging, JUnit, makefiles, and git.</li>
								</ul>
							</li>
							<li><strong>CSE 30: </strong>Computer Organization and Systems Programming
								<ul>
									<li>Topics: Assembly language, ARM architecture, program memory analyzation.</li>
								</ul>
							</li>
						</ul>
					</div>
			<br>

			<div class="contact-section">
				<hr>

				<h2 class="contact-header"><a name="linktocontact"></a>Contact</h2>
				<a href="mailto:dfritsch99@gmail.com" class="fa fa-envelope-o"></a>
				<a href="https://www.linkedin.com/in/daniel-f-a8037084/" class="fa fa-linkedin" target="_blank"></a>
				<a href="https://github.com/danielfritsch" class="fa fa-github" target="_blank"></a>
				<br><br>

			</div>

		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
